
.navigation{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom:0px;
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}

.head{
    font-family: "gilda display";
    color: #25A59E;
    font-size: 30px;
    display: flex;
    margin-left: 40px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.p-1{
    height: 25px;     
    justify-content: right;
    margin-right: 20px;

}
.h1,.span{
    font-family:"Gilda display";
    font-size: 52px;
    font-weight: 400;
} 
.head-2{
    display: flex;
    justify-content: center;
    padding-inline:5px;
    font-family: "Gilda dislay";
    text-align: center;
    margin-top: 0px;
    font-size: 52px;
    font-weight: 400;
    line-height: 61.2px;
}
h1{
    padding-bottom: -20px;
    color: #262626;
    font-family:"Gilda display";
    font-size: 52px;
    font-weight: 400;
    }
    .Travel{
        color: #25A59E;
        justify-content: space-between;
        overflow: hidden;
        font-size: 60px;
        font-family: "Gilda display";
    }
        
.Asians{
    position: relative;
    transform: translateY(50%);
    margin-bottom: -200px;

}   
.travel1{
    position: absolute;
    justify-content: center;                 
    font-weight: 50px;                                                                          
    height: 211px;
    gap: 0px;
    opacity: 0px;
    size: 400%;
    height: 600px;
    width: 100%;
    padding: 0px;
    top:-400px; 
    z-index: 1;      
    overflow-x: hidden;             
    }                           

.travel2{
    position :absolute;        
    justify-content:center;                                          
    width:450px;                                                      
    gap: 20px;                                                      
    opacity: 0px;
    padding-top: 0px;                
    z-index: 2;  
    margin-bottom: 30px;                                          
                                                                                
}                                                                           
.travel3 {                    
    position: absolute;                                         
    margin-top:-80px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
    z-index: 3;
    bottom: -205px;  
    overflow-x: hidden;
    width: 432.6px;
    height: 298px;
    top: 24px;
    left: 16.8px;
    gap: 0px;
    opacity: 0px;
    

} 
.destination{
    margin-top: 500px;
    padding-left: 60px;             
}    

h3{
    font-family: "Gilda Display";                                                                                                                                                                       
    padding-bottom: -20;
    margin-top:-340px;                
    color: #262626;
    font-size: 40px;
    font-weight: 400px;
    line-height: 52px;
    text-align: left;
    margin-left: 20px;
    margin-top: -20px;
}    
.choose{
    font-family: "Urbanist";
    font-size: 16px;                              
    color: #595959;
    margin-bottom: 50px;            
    font-weight: 500;
    line-height: 24px;
    padding-top: -10px;
    height: 48px;
    width: 335px;
    margin-left: 20px;


}

.container-pic  {                                                   
    background-color:  #f1f1f1;
    margin: 0px;
    padding-right: 2px;           
    flex-direction: column;                     
    align-items: center;
    padding-right: 0px;
    size: 20px;
    inset-block: 5px;                                  
    overflow-x: hidden;
    margin-left: 60px;
    margin-right: 50px;

}  

.container {                                                   
    background-color:  #f1f1f1;
    padding-right: 0px;           
    flex-direction: column;                     
    align-items: center;
    inset-block: 5px;                                  
    margin-left: 20px;
    margin-right: 20px;  
    height: 1096px;
    margin-top:0px;
    margin-bottom: 5px;
}                                  
.img2{   
    width: 338.67px;
height: 248px;
gap: 0px;
opacity: 0px;
}

.item{
    background-color: white;
    margin-inline: 5px;   
    padding-left: 5px;
    padding-right: 5px;                            
    padding-top:5px ;   
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 30px;                                                                                                                          

}
.Location{                   
    display: flex;
    justify-content: baseline;
    height: 25px;
    margin-top: 5px;
}         
.locationside{
    margin-left: 20px;
    margin-top: 5px; 
    color: #262626;  
    font-size: 16px;                                               
}   
.about{
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -180px;                    
    padding-bottom: 0px;
    color: #262626;
    height: 280px;
    font-family: "Gilda Display"; 
    font-weight: 400px;
    line-height: 52px;

}
.About{
    align-items: center;
    overflow-x: hidden;
}
h4{
    font-size: 20px;
}

.item1,.item3{
    background-color: white;                                
    margin: 20px;
    margin-bottom: 20px;
    border-top: 4px solid #25A59E;
    height: 257px;
    color: #262626;
    width:335px;
    gap: 40px;
    opacity: 0px;
    padding: 28px,20px,32px,20px;
    height: 257px ;
    padding-left:32px ;
    padding-bottom: 50px;

}                     
.item2{

    background-color:#25A59E;
    margin-inline: 20px;
    padding-right: 2px;
    padding-top:20px ;
    padding-bottom: 50px;
    margin: 20px;
    height: 280px;
    background-size: 40px;  
    width: 335px;         
    height: 257px;
    gap: 40px;
    font-size: 28px;
    opacity: 0px;
    padding-left: 32px;
}


.support{
    font-size: 28px;
    font-family: "Gilda Display";        
    color: #262626;  
    margin-right: 16px; 
    font-weight: 400px;                               
}               
.more{
    color:#25A59E;
    margin-left: 200px;
    font-size: 15px;
    display: flex;
    margin-top: 80px;
    flex-direction: row;
}
.special{               
    font-size: 28px;
    font-family: "Gilda Display";
    color: white;
    margin-right: 16px;
    font-weight: 400px;
    
}
.details{
    color: white;
    margin-left: 200px;
    display: flex;
    font-size: 15px; 
    margin-top: 80px; 
    flex-direction: row; 
                                            
}
.tickets{
    font-family: "Urbanist";
    color: white;
    font-weight: 400px;
    font-size:18px ;
} 
.chooses{
    font-family: "Urbanist";
    font-size: 16px;
    font-weight: 500px;
    line-height: 24px;
    width: 335px;
    height: 144px;
    gap: 0px;
    color: #595959;
    text-align: center;
    padding-left: 50px;

}


.Travel-2{
    color: #25A59E;
    justify-content: space-between;
    overflow: hidden;
    font-size: 40px;

}
p{
    font-size: 18px;
    font-weight: 400px;
    font-family: "Urbanist";
    color: #262626; 
}                                

.memory{
    font-family: "gilda display";                                                     
    font-size: 40px; 
    margin-bottom: 10px;        
    font-weight: 100px;
    justify-content:space-around;
    margin-top: 100px;
    margin-right: 5px;
    color: #262626;
    margin: 5px;
    border: 0.2px;
    width: 335px;
}
.service{
    font-family: "Urbanist";
    font-size: 16px;    
    color: #262626;
    padding-top: 10px;
    font-weight: 500px;
    width: 335px;
    height: 104px;

}
.t{      
    
    font-family: "gilda display";
    font-size: 16px;
    color:#25A59E;                                                          
    margin-bottom: 200px;}


.twoasians{
    size: 60px;
    justify-content: center;
    margin-left: 200px ; 
    margin-left: 0px;   
    }         

.image2{
    position: absolute;
    margin-top: 100px;
    margin-right: 170px;
    margin-left: 75px;
    width: 276.03px;
    height:121.72px ;

}    
.image1{                                                                                          
    position: relative;
    margin-left: 50px;
    height: 247px;
    width: 335.11px;
    margin-bottom: 0px;
    margin-top: 100px;
    transform: translateY(-125px);
            
}                    

.last{                    
    width: 100%;                                                                                           
    display: flex ;
    margin-bottom: 20px;
    padding-bottom: 2px;
    margin-left: 15px;
    flex-direction: column;
}

.watch{
    margin-right: 30px;
    text-align: center;
    color: #262626;
    font-size: 40px;
    width: 3750x;
    gap: 24px;
    height: 156px;
    font-weight: 400;
    line-height: 52px;
    font-family: "Gilda Display";
    margin-top: -30px;

}
.play{
    position: relative; 
    align-content: center;
    height: 50px;
    margin-top: 80px;
    margin-left: 180px;
}

.Click1{
    display: flex;
    margin-top: 200px;                             
}
.click{
    justify-content: left;
    margin-bottom: 20px;
    margin-top: -30px;
    margin-left:-350px;                    
    padding: 16px,32px,16px,32px;
}                       
                    
.offer{
    
    font-family: "gilda display";
    font-size: 40px;
    margin-right:30px;
    color: #262626;                         
    margin-bottom: 0px;        
    margin-top:   -150px;                      
    margin-left: 50px;
    flex: none;
    width: 335px;
    font-weight: 400;
    line-height: 52px;
}
                                                                            
.agent{
    width: 335px;
    height: 48px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 50px;
    font-size: 16px;
    font-family: "urbanist";
    margin-left: 20px;
    color: #595959;
    text-align: left;
    
}

.s{
    
    font-family: "urbanist";
    size: 30px;
    color: #25A59E;
    font-size: 16px;
    margin-top: -50px;
} 
.contact{
    display: flex;
    justify-content: center;
    width: 144px;
    margin-bottom: 40px;;
    height: 20px;
    gap: 12px;  
    margin-left: 150px;
}
.us{
    font-size: 16px;
    height: 5px;
    font-weight: 600;
    color: #595959; 
    font-family: "urbanist"; 
    margin-bottom: 0px;  
    margin: 60px;
    margin-left: 0px;   
    justify-content: space-evenly; 
    align-items: center;
    line-height: 24px;
    display: flex;
    flex-direction: row;
}                                
.path{                                  
    margin-left: 100px;
    margin-bottom: 5px;
    margin-top: 2px;
    gap: 12px;
    margin: 5px;
    width: 30px;
    height: 30px;
}  