
.navigation{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom:0px;
}

.head{
    font-family: "gilda display";
    color: #25A59E;
    font-size: 30px;
    display: flex;
    margin-left: 40px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.p-1{
    height: 25px;
    justify-content: right;
    margin-right: px;
}
.head-2{
    display: flex;
    justify-content: center;
    padding-inline:5px;
    font-family: "gilda dislay";
    text-align: center;
    margin-top: 0px;
    font-size: 52px;
    font-weight: 400;
    line-height: 61.2px;
}
h1{
    padding-bottom: -20px;
    color: #262626;
    }
    .Travel{
        color: #25A59E;
        justify-content: space-between;
        overflow: hidden;
    
    }
    
.travel1{
    position:  relative;
    justify-content: center;                 
    font-weight: 50px;                                                                          
    height: 211px;
    gap: 0px;
    opacity: 0px;
    size: 400%;
    height: 600px;
    width: 100%;
    padding: 0px;
    top:-200px;  
    z-index: 1;                
    }                           

.travel2{
    position :absolute;        
    justify-content:center;                                          
    width: 333px;                                     
    height: 315px;                  
    left: 10.8px;
    gap: 0px;                                                      
    opacity: 0px;
    justify-content:center;
    width: 100%;
    size: 350px;
    padding-top: 0px;                
    margin-bottom:0px;
    bottom: -70px;  
    z-index: 2;                                             
                                                                                
}                                                                           
.travel3 {                
    position: absolute;                                         
    width: 100%;
    margin-top: -15px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
    z-index: 3;
    bottom: -5; 
    margin-left:-450px; 
    height: 500px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
} 
.destination{
    margin-top: 200px;
    font-size: 50px;} 
h3{
    font-family: "gilda display";                                                                                                                                                                       
    padding-bottom: 0;
    margin-top:-380px;
    color: #262626;
    font-size: 50px;
    font-weight: 400;
    line-height: 52px;
    text-align: left;
}    
.choose{
    font-family: "urbanist";
    font-size: 25px;                              
    color: #262626;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
} 
.container{
    display: flex; 
    background-color:  #f1f1f1;
    margin: 0px;
    padding-right: 2px;
    flex-direction: column;                     
    align-items: center;
    padding-right: 0px;
    size: 20px;
    inset-block: 5px;
}
.item{
    background-color: white;
    margin-inline: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:10px ;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 30px;


}

.Location{
    display: flex;
    justify-content: baseline;
    height: 25px;
    margin-top: 5px;
}
.locationside{
    margin-left: 20px;
    margin-top: 5px; 
    color: #262626;                                                 
}

.img2{
    size: 50px;
    height: 270px;
}    
.about{
    font-family: "gilda display";
    font-size: 70px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: -190px;   
    padding-bottom: 40px;
    color: #262626;
    height: 280px;
}
.About{
    align-items: center;
}
